<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>My Website - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
</head> 
<body> 
    <h1>Ashsean Anderson</h1> 
    <p>My name is Ashsean Anderson and I am a man on a mission to self improvement and realization.
        I am 26 yeats old and I am currently a lab technician at a high school.
        I support Manchester United and I am a huge fan of Athletics.
    </p>
    <!-- Loading image from static folder -->
    <img src="{{ url_for('static', filename='Ruud-Red_Legend.jpg') }}" 
         alt="Profile Image" 
         width="300"> 
</body> 
</html>